@import "primeicons/primeicons.css";

.header-logo svg {
    width: 142px;
}

.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 14px;
    box-shadow: rgb(0, 0, 0, 0.1) 1px 1px 10px 0px;
}

.group-header .group-navigation {
    display: flex;
    column-gap: 10px;
    color: white;
}

.group-navigation .btn-navigation {
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}