h1 {
  padding: 20px 0px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.btn-main {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}

.main {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper-cart {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  height: calc(100vh - 70px);
}

.card-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 0px;
  background-color: #fff;
  width: 300px;
}
.p-card {
  width: 25rem;
  overflow: hidden;
}
.card-image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: auto;
}
.card-footer {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
}
.card-button {
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px; 
  text-align: center;
  font-weight: bold;
  // background-color: #8029fc;
  // color: #fff;
}
.card-button[outlined] {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #555;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
