body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  padding: 20px 0px;
  margin: 0;
  color: #008800;
  text-transform: uppercase;
  text-align: center;
}

.btn-main {
  background-color: #008800;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}

.main {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-style: normal;
}