
  <div class="wrapper-news">
    <h1 [ngClass]="{'active': isActive}">News</h1>
    <div *ngIf="isVisible">Welcome!</div>

    <div class="group-news">
      <div class="header-news">
        <div class="col-1">Image</div>
        <div class="col-2">Title</div>
        <div class="col-3">Content</div>
        <div class="col-4">Actions</div>
      </div>
      <div class="body-news">
        <div class="row-news" *ngFor="let news of newsList">
          <div class="col-1">
            <img width="100px" height="auto" [src]="news.image" alt="news">
          </div>
          <div class="col-2">{{ news.title }}</div>
          <div class="col-3">{{ news.content }}</div>
          <div class="col-4">
            <div class="btn-main">
              <i class="pi pi-eye" style="font-size: 20px"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
